#--------------------------------------------------
# protège le fichier .hatccess
#--------------------------------------------------
<files .htaccess>
order allow,deny
deny from all
</files>

#--------------------------------------------------
# Répertoire : /blogphpoc/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

ErrorDocument 404 http://u747361221.hostingerapp.com

#--------------------------------------------------
# Règles de réécriture d'URL : Utilisateur
#--------------------------------------------------

RewriteRule ^$ index.php

RewriteRule ^listesDesEpisodes$ index.php?action=listesEpisodes

RewriteRule ^episode-([0-9]+)$ index.php?action=lectureEpisode&episode=$1

RewriteRule ^connexion$ index.php?action=connexion


#--------------------------------------------------
# Règles de réécriture d'URL : Modérateur
#--------------------------------------------------
RewriteRule ^espaceModerateur$ index.php?action=espaceModerateur

RewriteRule ^apercuDesEpisodes$ index.php?action=apercuDesEpisodes
RewriteRule ^apercuDesEpisodes-([0-9]+)$ index.php?action=apercuDesEpisodes&episode=$1 

RewriteRule ^ajouterUnEpisode$ index.php?action=ajouterUnEpisode

RewriteRule ^modifierUnEpisode$ index.php?action=modifierUnEpisode
RewriteRule ^modifier-episode-([0-9]+)$ index.php?action=modifierUnEpisode&episode=$1

RewriteRule ^supprimerUnEpisode$ index.php?action=supprimerUnEpisode
RewriteRule ^supprimer-episode-([0-9]+)$ index.php?action=supprimerUnEpisode&episode=$1

RewriteRule ^signalerUnCommentaire$ index.php?action=signalerUnCommentaire
RewriteRule ^commentaire-([0-9]+)$ index.php?action=signalerUnCommentaire&commentaire=$1

RewriteRule ^moderateurPseudoMdp$ index.php?action=moderateurPseudoMdp


#--------------------------------------------------
# Expiration cache  1 mois (A2592000 = sec)
#--------------------------------------------------
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A0
    ExpiresByType image/jpg A2592000
    ExpiresByType image/jpeg A2592000
    ExpiresByType image/png A2592000
    ExpiresByType image/gif A2592000
    ExpiresByType image/ico A2592000
    ExpiresByType image/icon A2592000
    ExpiresByType image/x-icon A2592000
    ExpiresByType text/css A2592000
    ExpiresByType text/javascript A2592000
    ExpiresByType text/html A2592000
    ExpiresByType application/xhtml+xml A2592000
    ExpiresByType application/javascript A259200
    ExpiresByType application/x-javascript A2592000
</IfModule>

