 html,
 body {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: white;
     font-family: Verdana, sans-serif;
     font-size: 100%;
     height: 100vh;
     width: 100%;
     background-color: #0c3c60;
 }

 a {
     text-decoration: none;
 }

 #corpsDeLaPage {
     position: relative;
     top: 60px;
 }

 #corpsDeLaPage h1 {
     text-align: center;
     text-shadow: 1px 1px 2px white;
 }

 form {
     max-width: 1500px;
     margin: auto;
     text-align: center;
     color: white;
 }

 input[name="titre"] {
     background-color: #d1e0eb;
     color: #0c3c60;
     border-radius: 5px;
     width: 250px;
 }

 input[name="description"],
 input[name="imageApercu"] {
     background-color: #d1e0eb;
     color: #0c3c60;
     max-width: 850px;
     width: 90%;
     border-radius: 5px;
 }

 input[name="publie"] {
     background-color: white;
     color: #0F056B;
     border: 1px solid #0c3c60;
     border-radius: 5px;
     margin-left: 5px;
     margin-right: 5px;
     text-shadow: 1px 1px 2px white;


 }


 input[name="publie"]:hover {

     background-color: white;
     border: 1px solid white;
     color: #161b26;
 }


 #editeur {
     border-radius: 15px;
     width: 100%;
     background-color: #d1e0eb;
     color: #0c3c60;
     height: 500px;

     border: 1px solid black;

     padding: 5px;

     overflow: auto;
     text-align: left;
     margin-right: 20px;
     margin-left: 20px;

 }

 #alerte {
     top: 100px;
     text-align: center;
     position: fixed;
     width: 100%;
     margin: auto;
     animation-name: example;
     animation-duration: 5s;
     visibility: hidden;
     display: none;
 }

 #messageAlerte {
     color: white;
     padding: 20px;
     font-size: 110%;
     background-color: SeaGreen;
     border-radius: 5px;

 }

 @keyframes example {
     from {
         visibility: visible;
     }
     to {
         display: none;
     }
 }
